body {
    /* background-color: #F6C5AA; */
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/hip-square/hip-square.png');
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    color: #3C1E12;
    font-family: Roboto, sans-serif;
  }

header {
    grid-area: 1/1/2/13;
    border-radius: 5%;
    display: inline-grid;
    width: 100%;
    
    
}

h1 {
    /* transition: transform 1s; */
    transition: color 1s;
    transition-delay: .25s color;
    width: 190px;
    background-color:#F6B997;
    transition: 0.5s;
    
}

h1:hover {
    /* transform: skew(-20deg); */
    color: whitesmoke;
    
}

.banner {
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/flowerbackgroundsmall.jpg');
    height: 40px;
    background-size: cover;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px; 
    width: 100%;
}



nav {
    /* background-color: #C9AB3A; */
    height: 170px;
    /* padding-right: 15px;
    padding-left: 15px; */
    
   
}

nav a {
    color:#3C1E12;
    text-decoration: none;
}

nav a:hover {
    color: whitesmoke;
}


ul {
    list-style-type: none;
    margin: auto;
    margin-bottom: 20px;
    /* padding-bottom: 10px; */
    padding-top: auto;
    text-align: right;
    font-weight: bold;
    background-color:#F6B997;
    width: 50px;
    height: 40px;
    position: relative;
    float: right;
    transition: 0.5s;
    overflow-x: hidden;
    white-space: nowrap;
    line-height: 20px;
  }

  nav li {
      display: inline-block;
      padding-right: 10px;
      top: 50%;
      overflow: hidden;
  }

  #navbar {
      overflow: hidden;
  }

.about {
    grid-area: 2/2/4/7;
    margin: 30px;
    background-color: #f1ecd6;
    border: 1px dotted #604536;
    opacity: 0.8;
    height: 500px;
    border-radius: 5%;
    color:#3C1E12;
    /* padding-top: 50px; */
    
}

.backgroundabout {
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/flowerbackgroundsquare.jpg');
    border: 2px solid #604536;
    grid-area: 2/2/4/7;
    background-size: cover;
    border-radius: 5%;
    background-color: #f1ecd6;
    /* padding-top: 20px; */
    transition: transform 1s;
}

.backgroundabout:hover {
    transform: scale(1.2);
}

.about p {
    margin: 5%;
    /* font-weight: bold; */
    line-height: 1.8;
    font-size: 20px;
    text-align: justify;
    z-index: 2;
}

.projects {
    grid-area: 4/8/6/12;
    margin: 30px;
    background-color: #f1ecd6;
    border: 1px solid #604536;
    opacity: 0.8;
    border-radius: 5%;

}

.backgroundprojects {
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/flowerbackgroundvertical.jpg');
    border: 2px solid #604536;
    background-size: cover;
    grid-area: 4/8/6/12;
    border-radius: 5%;
    background-color: #C9AB3A;
    transition: transform 1s;
}

.backgroundprojects:hover {
    transform: scale(1.2);
}

.projects p {
    margin: 5%;
    /* font-weight: bold; */
    line-height: 1.8;
    font-size: 20px;
    text-align: justify;
    z-index: 2;
}

.backgroundcontact {
    grid-area: 6/3/7/6;
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/flowerbackgroundsmall.jpg');
    background-size:cover;
    border: 2px solid #604536;
    border-radius: 5%;
    background-color: #f1ecd6;
    transition:transform 1s;
}

.backgroundcontact:hover {
    transform: scale(1.2);
}

.contact {
    grid-area: 6/3/7/6;
    margin: 30px;
    background-color: #f1ecd6;
    border: 1px solid #604536;
    opacity: 0.8;
    text-align: justify;
    border-radius: 5%;
}

.contact a {
    text-decoration: none;
    color: #3C1E12;
}

.contact a:hover {
    text-decoration: underline;
}

.contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

footer {
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/flowerbackgroundsmall.jpg');
    height: 90px;
    background-size: cover;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px; 
    width: 100%;
    grid-area: 8/1/8/13;
}

.contactInfo img {
    width: 60px;
    height: 60px;
}

.contactInfo {
    grid-area: 2/2/5/6;
}



