body {
    background-color: #F6C5AA;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    color: black;
    font-family: Roboto, sans-serif;
  }

header {
    grid-area: 1/1/2/13;
    border-radius: 5%;
    display: inline-grid;
    
}

nav {
    background-color: #C9AB3A;
    line-height: 1.5;
    height: 122px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: bold;
    
  }

.about {
    grid-area: 2/2/5/7;
    margin: 30px;
    background-color: #C9AB3A;
    border: 1px solid black;
    opacity: 0.5;
    height: 500px;
    border-radius: 5%;
    
}

.backgroundabout {
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/flowerbackgroundsquare.jpg');
    border: 2px solid black;
    grid-area: 2/2/5/7;
    background-size: cover;
    border-radius: 5%;
}

.about p {
    margin: 5%;
    font-weight: bold;
    line-height: 1.8;
    font-size: 20px;
    text-align: justify;
    z-index: 2;
}

.projects {
    grid-area: 3/8/6/12;
    margin: 30px;
    background-color: #C9AB3A;
    border: 1px solid black;
    opacity: 0.5;
    border-radius: 5%;

}

.backgroundprojects {
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/flowerbackgroundvertical.jpg');
    border: 2px solid black;
    background-size: cover;
    grid-area: 3/8/6/12;
    border-radius: 5%;
}

.projects p {
    margin: 5%;
    font-weight: bold;
    line-height: 1.8;
    font-size: 20px;
    text-align: justify;
    z-index: 2;
}

.backgroundcontact {
    grid-area: 6/3/7/6;
    background-image: url('/Users/annajoswiak/Documents/projects/portfolio/flowerbackgroundsmall.jpg');
    background-size:cover;
    border: 2px solid black;
    border-radius: 5%;
}

.contact {
    grid-area: 6/3/7/6;
    margin: 30px;
    background-color: #C9AB3A;
    border: 1px solid black;
    opacity: 0.5;
    text-align: justify;
    border-radius: 5%;
}

.contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}




